/* STICKY HEADER */
header {
position: sticky;
top: 0;
background: white;
z-index: 1000;
}

/* TESTIMONIAL */
.testimonial-box {
display: grid;
grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
gap: 20px;
}

.testimonial {
background: #f8fbff;
padding: 20px;
border-radius: 10px;
}

/* MAP */
.map iframe {
width: 100%;
height: 300px;
border: none;
border-radius: 10px;
}

/* BUTTON HOVER */
button:hover {
background: #084298;
transition: 0.3s;
}

/* SMOOTH SCROLL */
html {
scroll-behavior: smooth;
}
